<!DOCTYPE html>
<html lang="en" lang="en">
    <head>
        <title>My Algolia Search Project</title>
        <link rel="stylesheet" href="/views/style.css">
    </head>
    <body>
        <div class="container">
            <div class="search-container">
                <label for="search-input" class="label-container">Find A Billionaire</label>
                <p>Powered by Algolia<a href="http://algolia.com"p>
            </div>
            <input type="text" autofocus="true" name="search" id="search-input" placeholder="Search for a billionaire" />
        </div>

        <div class="hits-container">
            <div id = "hits" class="hits">
                <p class="hits-placeholder">Start Typing To See Results</p>
            </div>
        </div>
        <!--Initialized the algolia client-->
    </body>
</html>